<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <%- include('./partials/head.ejs') %>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <title> <%= title %> </title>
</head>
<body>
    <!-- el '-' antes de include se usa para utilizar código -->
    <%- include('./partials/navigation.ejs') %>
    <!--Picture-->
    <div id="picture">
        <header class="container d-flex justify-content-center align-items-center">
            <img src="/img/oscar.jpg" alt="foto" class="" id="oscar-picture">
        </header>
    </div>
    <!--Name-->
    <div id="name-container" class="bg-dark text-center 4">
        <h1 class="display-1 my-2 text-light fw-bold" id="oscar-title">Óscar Chávez</h1>
    </div>
    <!--About me-->
    <div id="about-me-container" class="vh-50 container pt-2 text-center d-flex justify-content-center align-items-center">
        <div id="about-me-container-text">
            <h1 id="about-title" class="display-1 text-warning">About me:</h1>
            <p id="about-text">
                I love programming and learning. Luckily I
                have friends who have been working in
                the software industry for a long time, they
                inspire me every day.
                I like teamwork and helping my partners
            </p>
        </div>
    </div>
    <!--Skills-->
    <div id="skills-container" class="vh-50 text-center bg-dark">
        <div id="skills-container-2">
            <h1 id="skills-title" class="display-1 text-warning">Three of my Skills</h1>
            <p id="skills-text" class="text-light container">
                Here are three randomly selected skills of mine. To see all of them, click
                <a href="/skills">here</a>
            </p>
        </div>
        <!--Cards-->
        <div class="d-flex justify-content-center align-items-center h-100"> <!--Cards container-->
            <div class="row mb-3">
                <%
                var skill_img = "";
                for (var i = 0; i<3; i++) { 
                    skill_img = "/img/";
                    if (three_skills[i] == "C# (WinForms .NET framework)") skill_img += "C sharp";
                    else skill_img += three_skills[i];
                %>
                    <div class="card mx-3" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> <%=three_skills[i] %> </h5>
                            <!--Example: /img/Python.jpg -->
                            <img src="<%=skill_img+".png"%>" class="card-img-top img-fluid" alt=" <%=three_skills[i] %> "> 
                            <p class="card-text"></p>
                            <a href="https://www.google.com/search?q=<%= encodeURIComponent(three_skills[i])%>" target="_blank" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="container">
            <a href="/skills" type="button" class="btn btn-warning btn-lg btn-block mb-3 col-3">All Skills</a>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>